
/* header */
.logoTitleContainer{
	display: flex;
	justify-content: space-between;
}
.aLogo{
	margin-top: 2px;
	margin-left: 2px;
}
.logo{
	width: 65px;
	height: 65px;
}
.welcomeH1{
	margin: auto;
	font-size: 250%;	
	color: white;	
}
/* header */


/* canvas */
.divCanvasContainer{
	margin-top: 5px;
	padding: 5px;
}
.figureCanvasContainer{
	padding: 2px;
	width: 1002px;
	height: 502px;
	margin: auto;
}
/* canvas */



/* section property-info */
.selectPropertyRangeInfoContainer{
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.selectPropertyContainer{
	width: 50%;
	margin: auto;
}
.dayContainer{
	display: inline-block;
}
.monthContainer{
	display: inline-block;
}
.yearContainer{
	display: inline-block;
}
.timeContainer{
	display: inline-block;
}
#appt-time{
	box-sizing: border-box;
}
.infoContainer{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 4px;
}
.pContainer{
	width: 50%;
	margin: auto;
	text-align: center;
}



/* slider */
.rangeSliderContainer{

	margin-top: 10px;
	margin-bottom: 10px;

	padding-top: 5px;
	padding-bottom: 5px;
}
.slidecontainer{
	margin: auto;
	width: 50%;
}

.slider {
    -webkit-appearance: none;
    width: 95%;
    height: 25px;
    background: #000;
	border: 2px solid red;
	border-radius: 40px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}
.justify-content-center .col-md-2 .m2:hover, .form-control:hover, .selectTownsSection:hover, .containerCheck:hover, .infoTime:hover{
	background: rgba(201, 201, 201, 0.5);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: black;
    cursor: pointer;
	background-image: url("../resource/miniLogoW.png");
}
.propertyContainerSection{
	margin-top: 1%;
}
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background-image: url("../resource/miniLogoW.png");
    cursor: pointer;
}
.pSliderContainer{
	width: 100%;
	margin: auto;
	text-align: center;
	color: white;
}

.pSliderContainer span{
	width: 100%;
}

.inputSliderContainer{
	width: 100%;
	margin: auto;
}
/* slider */


/* section property-info */





.fullscreen-bg {
    position: fixed;
    top: -100%;
    right: 0;
    bottom: -100%;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 122%;
    height: 100%;
}
.justify-content-center .col-md-2 .m2{
	color: white;
	width: 100%;
	height: 38px;
	background: rgba(201, 201, 201, 0.3);
	border: 1px solid;
	box-sizing: border-box;
	border-radius: 4px;
	text-align: center;
}
.col-md-4 .input-group{
	width: 100%;
	height: 0px !important;
	border-radius: 4px;
	border: 1px solid;
	color: white;
	box-sizing: border-box;
	text-align: center;
}

.container-fluid{
	margin: auto !important;
	padding-left: 33px;

	/*
	padding: 0 !important;
	*/
 }
.container{
	width: 970px !important;

}

.col-md-4{
	width:  12.667%
}
.divCheckTowns{
	width: 40%;
    display: inline-block;
}
.containerCheck{

	width: 16%;
	height: 38px;
	border-radius: 4px;
	border: 1px solid;
	color: white;
	box-sizing: border-box;
	background: rgba(201, 201, 201, 0.3);
	text-align: center;
	padding: 5px;
	margin-left: 22px;
	font-weight: 1;
}

.form-control{
	text-align: center;
	background: rgba(201, 201, 201, 0.3);
	color: white;
	border:none;
	border-radius: 0;
	height: 36px;
	box-sizing: border-box;
}
.selectTownsSection{

	color: white;
	border: 1px solid;
	width: 25%;
	height: 38px;
	background: rgba(201, 201, 201, 0.3);
	box-sizing: border-box;
	border-radius: 4px;
	text-align: center;
	margin-left: 15px;
}
.containerMargin{
	width: 1905px;
	margin: auto;
}
.infoTime{
	width: 70%;
	height: 5%;
	margin: auto;
	border: 2px solid #b0a880;
	border-radius: 4px;
	
	background: rgba(201, 201, 201, 0.3);
	color: white;
	padding: 16px;

}
.infoTime p {
	margin:0;
}

#times{
	width: 781px;
	display: inline-block;
}
#minutes{
	display: inline-block;
	width: 185px;
	float: right;
}

.troll{
	width: 6%;
	float: right;
	color: white;
}

.troll button{
	color: black;
}